* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }
 .Body {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    &__AppHeader{
      width: 100%;
      height: 80px;
      display: flex;
      flex-direction: row;  
      border: 3px solid red;
      &__AppLogo{
        width: 50%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: coral;
      }
      &__AppNav{
        width: 50%;
        height: auto;
        display: flex;
        justify-content: space-between;
      }
    
   }
  
  
  
  
  }
@media screen and (min-width: 426px) {
 .Body {
  &__AppHeader{
    height: 100px;

  }
 }
}